body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background-color: #CCCCFF;;

}

.titulo{
  text-align: center;
  margin: 0;
  padding: 20px 0;
  align-self: center;
  justify-self: center;
  color: #CCCCFF;
}

.conteudoTabela{
  padding: 30px;
  background-color: #f2f2f2;
  width:70vw;
  height: 50vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-sizing: border-box;
}


table{
  border-collapse: collapse;

}
table thead{
  background-color: black;
  color: white;

}

th,
td {
  border: 1px solid black;
  height: 50px;
  width: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
